@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #242424;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

#main-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.container {
  width: 80vw;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
    @media (max-width: 800px) {
      font-size: 28px;
    }
  }
}

.top {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  width: 100%;

  .react-select {
    width: 100%;
    color: white;
  }
  .react-select div {
    //background: #3b3b3b;
    color: black;
  }
}

.bottom {
  display: flex;
  gap: 105px;
  margin-top: 25px;
  @media (max-width: 800px) {
    flex-direction: column;
    gap: 10px;
  }
  textarea {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    padding: 10px;
    resize: vertical;
    font-family: "poppins";
    @media (max-width: 800px) {
      min-height: 200px;
      max-height: 400px;
    }
  }
  textarea:disabled {
    color: rgb(212, 211, 211);
  }
}

#translate {
  margin-top: 20px;
}
